In [1]:
import numpy as np
import pandas as pd

In [11]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10 , 'b':20 , 'c':30}

In [12]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [13]:
pd.Series(data = my_data,index = labels)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [16]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [17]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [18]:
d

{'a': 10, 'b': 20, 'c': 30}

In [22]:
pd.Series(data = labels )

0    a
1    b
2    c
dtype: object

In [23]:
pd.Series(data = labels , index = labels)

a    a
b    b
c    c
dtype: object

In [24]:
ser1 = pd.Series([1,2,3,4],['INDIA','USA','JAPAN','PAKISTAN'])

In [25]:
ser1

INDIA       1
USA         2
JAPAN       3
PAKISTAN    4
dtype: int64

In [26]:
ser2 = pd.Series([1,2,5,4],['TURKEY','USSR','ISRAEL','BANGLADESH'])

In [27]:
ser2

TURKEY        1
USSR          2
ISRAEL        5
BANGLADESH    4
dtype: int64

In [28]:
ser1 + ser2

BANGLADESH   NaN
INDIA        NaN
ISRAEL       NaN
JAPAN        NaN
PAKISTAN     NaN
TURKEY       NaN
USA          NaN
USSR         NaN
dtype: float64

In [32]:
ser1['INDIA']

1

In [33]:
ser3 = pd.Series(data = labels)

In [34]:
ser3

0    a
1    b
2    c
dtype: object

In [36]:
ser3[0]

'a'

In [43]:
ser4 = pd.Series([1,2,3,4],['INDIA','USA','ARGENTINA','PAKISTAN'])

In [44]:
ser4

INDIA        1
USA          2
ARGENTINA    3
PAKISTAN     4
dtype: int64

In [45]:
ser4 + ser1

ARGENTINA    NaN
INDIA        2.0
JAPAN        NaN
PAKISTAN     8.0
USA          4.0
dtype: float64

In [46]:
ser1

INDIA       1
USA         2
JAPAN       3
PAKISTAN    4
dtype: int64