In [1]:
#MULTI INDEX AND INDEX HieRARCHY

In [2]:
import numpy as np

In [17]:
import pandas as pd
from numpy.random import randn

In [18]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [25]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [27]:
df#this is index heirarchy

             A         B
G1 1  0.594133  0.835467
   2 -0.234777 -0.553643
   3  0.302632  0.652793
G2 1  0.756745 -1.137969
   2  0.861088 -1.148737
   3 -0.305950 -0.374819

In [28]:
#how to access elements

In [31]:
df.loc['G1'].loc[2]

A   -0.234777
B   -0.553643
Name: 2, dtype: float64

In [35]:
df.index.names = ['groups','num']

In [36]:
df

                   A         B
groups num
G1     1    0.594133  0.835467
       2   -0.234777 -0.553643
       3    0.302632  0.652793
G2     1    0.756745 -1.137969
       2    0.861088 -1.148737
       3   -0.305950 -0.374819

In [42]:
#HOW TO GRAB AN ELEMENT
df.loc['G2'].loc[2].loc['B']

-1.1487365441741304

In [43]:
#crosssection

In [45]:
df.xs('G1')

            A         B
num
1    0.594133  0.835467
2   -0.234777 -0.553643
3    0.302632  0.652793

In [48]:
df.xs(1,level="num")

               A         B
groups
G1      0.594133  0.835467
G2      0.756745 -1.137969