In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
"""
CSV
EXCEL
HTML
SQL
"""

'\nCSV\nEXCEL\nHTML\nSQL\n'

In [5]:
pwd

'D:\\UDEMY\\ML\\Refactored_Py_DS_ML_Bootcamp-master\\03-Python-for-Data-Analysis-Pandas'

In [6]:
df = pd.read_csv('example')

In [7]:
df.to_csv('My_output',index = False)

In [8]:
pd.read_csv('My_output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
 #read from excel file

In [10]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [11]:
df.to_excel('Excel_Sample.xlsx',sheet_name='AryanSheet')

In [19]:
data = pd.read_html('https://learn.nlm.nih.gov/documentation/training-packets/T0042010P/')

In [21]:
from sqlalchemy  import create_engine

In [23]:
engine = create_engine('sqlite:///:memory:')

In [25]:
df = pd.read_csv('example')

In [26]:
df.to_sql('my_table',engine)

4

In [28]:
sqldf = pd.read_sql('my_table',con=engine)

In [29]:
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15